body{
    background-color: black;
}
header img{
    width: 200px;
    height: 100px;
    float: left;
}
nav li{
    display: inline-block;
    font-size: 1.5em;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1.2em;
}
.copyright{
    color: white;
    text-align: center;
}
.header-big{
    color: black;
    text-align: center;
    text-transform: uppercase;
}

#main-content{
 background-color: white;
 padding: 20px;   
}
.hero img{
    width: 100%;
    height: 400px;
    display: block;
}